{% load static %}
{% load event_extras %}
{% for category in categories %}
  <div class="col-md-12 col-sm-9 col-xs-12 category" data-category='{{ category.id }}'
       id="category">
    <h2>{{ category.name }}</h2>
  </div>
    <div class="items">
      {% for product in products|in_category:category %}
      <div class="card ">
        <div class="imgBox feature-inner">
           <a class="preview lightbox"
              href="{{ product.gallery.title_image.url }}">
             <img src="{{ product.gallery.title_image_avatar.url }}">
           </a>
        </div>
        <div class="content">
            <div class="price">
                <img src="{% static 'assets/img/1.png' %}">
                <span>{{ product.price }}</span>
            </div>
            <div class="title">
                <h3 class="post-title">
                  <a href="">{{ product.name }}</a>
                </h3>
            </div>
            <div class="meta">
              <span class="meta-part">
                  <a href="{% url 'master_detail' product.master.id %}"><i class="icon-user"></i>
                      {{ product.master }}
                  </a>
              </span>
              <span  class="meta-part">
                <a href="#"><i class="icon-calendar"></i>
                  {{ product.created }}
                </a>
              </span>
            </div>
            <div class="description">
                <p>{{ product.short_description }}</p>

            </div>
            <div>
                <a class="btn btn-common btn-small"
                   href="{% url 'product_detail' product.id %}">Переглянути ...</a>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>

{% endfor %}


{% if products.has_next %}
          <div class="more-btn">
            <a href=""
               class="btn btn-common wow fadeInUp load-more-product"
               data-pages="{{ paginator.num_pages}}"
               data-page="{{ page_obj.number }}"
               data-wow-delay="0.3s"
               id="load-more-product" >
                Завантажити ще
            </a>
          </div>
          {% endif %}