{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="page-header-inner">
          <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
            <li><a href="{% url 'index' %}">Головна</a></li>
            <li class="page">Про нас</li>
          </ol>
          <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
            Про нас
          </h1>
        </div>
      </div>
    </div>
    <!-- Page Header End-->
    <div class="container-us">
        <div class="about_us">
            <div class="imgBox">
                <img src="{% static 'assets/img/logo1.png' %}" style="">
            </div>
            <div class="content">
                <h2>Про нас</h2>
                <p>
                    Ярмарок крафтових виробів – це унікальний захід на теренах Кіровоградщини. Започаткований у 2018 році як Ярмарок крафтового варення, він набув свого продовження, розвитку і розмаху у 2019 році з новою назвою та фінансуванням у 1 млн. грн.
                    У вересні 2019 року Ярмарок крафтових виробів об’єднав більше 60 виробників з Кіровоградської, Черкаської, Днвіпропетровської та Полтавської областей. Гостями заходу стало 2,5 тис. людей.
                    Організатором Ярмарку виступає Приютівська об’єднана територіальна громада, сам захід відбувається в одному із старостинських округів громади – селі Войнівка.
                    Це поруч з містом обласного значення – Олександрія. Зручне автомобільне, автобусне та залізничне  сполучення з містами: Кропивницький, Кременчук, Кривий Ріг, Черкаси, Сміла, Знам’янка та Світловодськ робить місце проведення Ярмарку легкодоступним для мешканців центральної та східної частини України.
                    Реалії сучасного світу дозволяють перенести частину Ярмарку у віртуальний світ. Звичайно, ми шкодуємо, що цього року через коронавірусну інфекцію ми не зможемо наживо провести Ярмарок крафтових виробів, проте його частинка може існувати в іншому світі – світі комп’ютерних технологій. Ми створили онлайн-платформу  не лише для продажу товарів, але й для навчання, спілкування та обміну досвідом. На відміну від Ярмарку, який проводиться наживо один раз на рік, онлайн-платформа постійнодіюча, зручна та легка у користуванні як для споживачів товарів, так і для виробників.
                     Мета створення даного сайту – інформаційна підтримка місцевих виробників крафтових виробів.
                    Команда Приютівської громади бажає вам вдалого візиту, позитивних вражень та емоцій під час перегляду сайту «Ярмарок крафтових виробів»!

                    Якщо ви бажаєте приєднатися до команди виробників або партнерів нашого проєкту завітайте на вкладку
                      <a href="{% url 'contact' %}"
                                                      style="color:#e91e63;">
                    Контакти</a>
                </p>
            </div>
        </div>
    </div>
    {% for manager in managers %}
    <div class="container-us">
       <div class="manager">
            <div class="imgBox">
                <img src="{{ manager.image.url }}">
            </div>
            <div class="content">
                <p>{{ manager.get_full_name }} – {{ manager.duty }}.
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}