{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="page-header-inner">
          <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
            <li><a href="{% url 'index' %}">Головна</a></li>
            <li class="page">Про нас</li>
          </ol>
          <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
            Про нас
          </h1>
        </div>
      </div>
    </div>
    <!-- Page Header End-->
    <div class="container">
        <div class="about_us">
            <div class="imgBox">
                <img src="{% static 'assets/img/logo1.png' %}" style="">
            </div>
            <div class="content">
                <h2>Про нас</h2>
                <p>
                    Ярмарок крафтових виробів – це унікальний захід на теренах Кіровоградщини.
                    Започаткований у 2018 році як Ярмарок крафтового варення, він набув свого
                    продовження, розвитку і розмаху у 2019 році з новою назвою та фінансуванням
                    у 1 млн. грн.
                    У вересні 2019 року Ярмарок крафтових виробів об'єднав більше 60 виробників
                    з Кіровоградської, Черкаської, Днвіпропетровської та Полтавської областей.
                    Гостями заходу стало 2,5 тис. людей.
                    Організатором Ярмарку виступає Приютівська об’єднана територіальна
                    громада, сам захід відбувається в одному із старостинських округів громади –
                    селі Войнівка.
                    Це поруч з містом обласного значення – Олександрія. Зручне автомобільне,
                    автобусне та залізничне сполучення з містами: Кропивницький, Кременчук,
                    Кривий Ріг, Черкаси, Сміла, Знам’янка та Світловодськ робить місце проведення
                    Ярмарку легкодоступним для мешканців центральної та східної частини
                    України.
                    На нашому сайті ви зможете ознайомитися з виробниками, які приймали участь
                    у Ярмарку в 2019 році та новими заявниками, що прагнуть презентувати свою
                    продукцію.
                    Мета створення даногосайту – інформаційна підтримка вітчизняних виробників
                    крафтових виробів.
                    Якщо ви бажаєте приєднатися до команди виробників або спонсорів нашого
                    проекту завітайте на вкладку   <a href="#" style="color: #111;">Контакти</a>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}