{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Page Header Start -->
    <div class="page-header">      
      <div class="container"> 
        <div class="page-header-inner">         
          <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
            <li><a href="{% url 'index' %}">Головна</a></li>
            <li class="page">Статті</li>
          </ol>
          <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
            Статті
          </h1>
        </div>
      </div>
    </div>
    <!-- Page Header End-->

    <!-- Blog Section Start -->
    <section id="content" class="section">
      <div class="container">
        <div class="row posts">
          <!-- Start Blog Posts -->

          <div class="col-md-9 ">
            <!-- Start Post -->
            {% for article in articles %}
            <div class="blog-post">
              <!-- Post feature-inner -->
              <div class="feature-inner">
                <a class="preview lightbox"
                   href="{{ article.image_grid.url }}">
                  <img src="{{ article.image_grid.url }}">
                </a>
              </div>
              <!-- End Post feature-inner -->   
              <!-- Post format icon -->
              <div class="post-format">
                <span>
                  <a href="{{ article.image_grid.url }}"
                     class="preview lightbox">
                    <i class="icon-picture"></i>
                  </a>
                </span>
              </div>  
              <!-- Post Content -->
              <div class="post-content">                  
                <h3 class="post-title">
                  <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                </h3>
                <div class="meta">
                  <span class="meta-part"><a href="#"><i class="icon-user"></i> Admin</a></span>
                  <span  class="meta-part">
                    <a href="#"><i class="icon-calendar"></i>
                      {{ article.created }}
                    </a>
                  </span>
                </div> 
                <p>{{ article.description }}</p>
                <a class="btn btn-common btn-small"
                   href="{% url 'article_detail' article.id %}">Читати ...</a>
              </div>

              <!-- Post Content -->  
            </div>
            {% endfor %}
            <!-- End Post -->

          </div>
          <!-- End Blog Posts -->

        </div>
      </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Start -->   
    <footer class="section">  
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <h3><img src="assets/img/footer-logo.png" alt=""></h3>
            <p>
              If you think you have the passion, 
              attitude and capability to join us 
              the next big software company
              s so that we can get the convers.
            </p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <h3>Support</h3>
            <ul>
              <li><a href="#">Support</a></li>
              <li><a href="#">Docs</a></li>
              <li><a href="#">Contact Us</a></li>               
            </ul>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <h3>Learn More</h3>
            <ul>
              <li><a href="#">How it Works</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Log In</a></li>
              <li><a href="#">Sign Up</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <h3>Quick Link</h3>
            <ul>
              <li><a href="#">Schedule</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
          </div>          
        </div>
      </div>      
    </footer>  
    <!-- Footer Section End -->  
{% endblock content %}
