{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="page-header-inner">
          <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
            <li><a href="{% url 'index' %}">Головна</a></li>
            <li class="page">Про нас</li>
          </ol>
          <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
            Про нас
          </h1>
        </div>
      </div>
    </div>
    <!-- Page Header End-->

    <!-- Map Section Start -->
    <section id="map">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Хочете стати учасником
              нашого ярмарку?</h2>
            <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Відправте нам листа,
              вкажіть майстром якої справи ви є, вкажіть контактні дані і члени нашої команди
              зв'яжуться з вами!
            </p>
          </div>
          <div class="col-md-12">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2632.886939081497!2d33.05654440857874!3d48.7076419120002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1596958384210!5m2!1suk!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <!--<div id="map_canvas"></div>-->
        </div>
      </div>
    </section>
    <!-- Map Section End -->

    <!-- Main contetn Start -->
    <div class="main-content">
    <!-- Start Contact Us Section -->
    <section id="contact">
      <div class="container">
        <div class="row wow fadeInDown" data-wow-delay="0.3s">
          <div class="col-md-8 col-sm-7 contact-form">
            <form action="{% url 'contact_admin' %}"
                  method="post"
                  role="form" id="contactForm"
                  data-toggle="validator">
              {% csrf_token %}
              <div class="title-header">
                <h3 class="title-medium pull-left">Відправити нам повідомлення</h3>
                <div class="icon pull-right"><i class="icon-envelope"></i></div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="label-line">
                    <span class="span"></span>
                    <label class="label transition">Ім'я</label>
                    <input type="text"
                           class="input"
                           id="name"
                           name="name"
                           required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="label-line">
                    <span class="span"></span>
                    <label class="label transition">Email</label>
                    <input type="email"
                           class="input"
                           id="email"
                           name="email"
                           required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="label-line textarea">
                    <span class="span"></span>
                    <label class="label transition">Повідомлення</label>
                    <textarea id="message"
                              name="message"
                              class="input"
                              required data-error="Write your message">
                    </textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="" class="btn btn-common">Відправити <i
                          class="icon-paper-plane" aria-hidden="true"></i></button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4 col-sm-5 information">
              <div class="title-header">
                <h3 class="title-medium">Контактна інформація</h3>
              </div>
              <div class="contact-datails">
                <div class="icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="info">
                  <span class="detail">Приютівська ОТГ<br> Україна</span>
                </div>
              </div>
              <div class="contact-datails">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="info">
                  <span class="detail">+123456789000</span>
                </div>
              </div>
              <div class="contact-datails">
                <div class="icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="info">
                  <span class="detail">kraftfest@ukr.net</span>
                </div>
              </div>
              <div class="social text-center">
                <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Us Section  -->

    <!-- Footer Section Start -->
    <footer class="section">
      <div class="container" style="min-height:350px;">

      </div>
    </footer>
    <!-- Footer Section End -->

{% endblock content %}