{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="page-header-inner">
          <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
            <li><a href="{% url 'index' %}">Головна</a></li>
              <li class="page"><a href="{% url 'gallery_list' %}">Галерея</a></li>
          </ol>
          <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
            Галерея
          </h1>
        </div>
      </div>
    </div>
    <!-- Page Header End-->

    <!-- Gallery Section Start -->
    <section id="gallery" class="section">
      <div class="container pages">
        <div class="col-md-12">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Галерея</h2>
          <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">{{ gallery.title }}</p>
        </div>
        <div class="gallery-wrap wow fadeInDown items">
            {% for img in photos %}
            <div class="gallery-item col-md-4 col-sm-4 col-xs-12">
              <a href="{{ img.image_avatar.url }}"><img src="{{ img.image_avatar.url }}"></a>
              <div class="overlay">
                <div class="icons">
                  <a class="preview lightbox"
                     href="{{ img.image_big.url }}"
                     data-lightbox-gallery="fest"
                     data-lightbox-type="ajax">
                      <i class="icon-eye"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
        {% if photos.has_next %}
          <div class="more-btn">
            <a href="?page={{ gallery_detail.next_page_number }}"
               class="btn btn-common wow fadeInUp load-more"
               data-pages="{{ paginator.num_pages}}"
               data-page="{{ page_obj.number }}"
               data-wow-delay="0.3s"
               id="load-more" >
                Завантажити ще
            </a>
          </div>
          {% endif %}
    </section>
    <!-- Gallery Section End -->

  {% endblock content %}
