{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="banner">
      <img src="{% static 'assets/img/background/kraft-fest.png' %}">

    </section>
    <!-- Coundown Section Start -->
    {% if event %}
    <section class="countdown-timer section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
            <div class="text">
              <h2>{{ event.title }}</h2>
              <h4>До старту залишилося ...</h4>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
            <div class="time-countdown">
              <div id="clock"
                   class="time-count"
                   data-time="{{ event.time|date:'Y/m/d H:i' }}">
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>
    <!-- Coundown Section End -->
    {% endif %}
    <!-- Featured Section Start -->
    <section id="featured" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Чому варто стати
              учасником  Ярмарку крафтових виробів?</h2>
              <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">
                Час змінюватися. Пандемія коронавірусу прискорила деякі процеси, в тому числі і у створенні даного
                сайту. Приютівська громада, як засновник Ярмарку, пропонує вашій увазі онлайн-проєкт.
                Завітавши на наш сайт-Ярмарок ви зможете не лише підтримати місцевих виробників або самому
                розмістити рекламу своїх виробів, а й надихнутися новими ідеями, згадати або переглянути фото з
                минулорічного заходу і помріяти про новий!
              </p>
              <div class="col-md-4 col-sm-6">
                <div class="featured-box wow fadeInLeft" data-wow-delay="0.1s">
                  <div class="icon">
                    <i class="icon-bubbles"></i>
                  </div>
                  <div class="featured-content">
                    <h4>Надихнутися новими ідеями</h4>
                    <p>Саме Ярмарок є тим джерелом, де можна підгледіти нові ідеї та види
                        мистецтва для розвитку чи започаткування свого власного виробництва або
                        урізноманітнення дозвілля.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="featured-box wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="icon">
                    <i class="icon-like"></i>
                  </div>
                  <div class="featured-content">
                    <h4>Продвинути власний бренд</h4>
                    <p>На сайті-Ярмарку можна все. Навіть започаткувати власну торгову марку.
                        Рекламувати свій власний бренд або отримати допомогу у його створенні.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="featured-box wow fadeInLeft" data-wow-delay="0.3s">
                  <div class="icon">
                    <i class="icon-people"></i>
                  </div>
                  <div class="featured-content">
                    <h4>Отримати корисну інформацію</h4>
                    <p>Широке предствалення кола майстрів - це можливість не зациклюватися та не вигорати адже спілкування хоч і онлайн допоможе вийти з творчої кризи!
                       Онлайн-семінари допоможуть розпочати власний бізнес.
                    </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
                <div class="featured-box wow fadeInLeft" data-wow-delay="0.3s">
                  <div class="icon">
                    <i class="icon-microphone"></i>
                  </div>
                  <div class="featured-content">
                    <h4>Згадати чудовий концерт та розваги</h4>
                    <p>
                      Концертна програма – це калейдоскоп різних виконавців та стилів: починаючи
                      від народних пісень і закінчуючи сучасною естрадною піснею. Родзинкою
                      Ярмарку обов’язково є виступ хедлайнера свята!
                    </p>
                  </div>
                </div>
              </div>
            <div class="col-md-4 col-sm-6">
                <div class="featured-box wow fadeInLeft" data-wow-delay="0.3s">
                  <div class="icon">
                    <i class="icon-basket-loaded"></i>
                  </div>
                  <div class="featured-content">
                    <h4>Придбати крафтові вироби</h4>
                    <p>Ми збираємо воєдино майстрів не лише Приютівської громади, а всіх, хто
                        бажає бути впізнаваним серед поціновувачів хендмейду або крафту!
                        Тому варто замовити не тільки смачненькі, а й ексклюзивні та вишукані вироби!
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="featured-box wow fadeInLeft" data-wow-delay="0.3s">
                  <div class="icon">
                    <i class="icon-emotsmile"></i>
                  </div>
                  <div class="featured-content">
                    <h4>Система all inclusive</h4>
                    <p>Тут ви зможете легко знайти або потрібний товар, або виробника, яким вам
                        сподобався.
                        Для виробників реклама на нашому сайті є абсолютно безкоштовною.
                    </p>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>
    <!-- Featured Section End -->

    <!-- Welocme Event Start -->
    <section id="event" class="section">
      <img src="{% static 'assets/img/background/bg-1.jpg' %}">

    </section>
    <!-- Welocme Event End -->

    <!-- Product Section Start -->
    {% if products %}
    <section class="section">
      <div class="container">
        <div class="col-md-12">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Каталог крафтових виробів
            та продуктів</h2>
          <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Ви можете придбати
            унікальні речі з нашої платформи</p>
        </div>
        <div class="gallery-wrap wow fadeInDown">
            {% for product in products %}
            <div class="gallery-item col-md-4 col-sm-4 col-xs-12">
              <a href="{{ product.gallery.title_image.url }}">
                <img src="{{ product.gallery.title_image_avatar.url }}">
              </a>
              <div class="overlay">
                <div class="icons">
                  <a class="preview lightbox"
                     href="{{ product.gallery.title_image.url  }}"
                     data-lightbox-gallery="product">
                     <i class="icon-eye"></i>
                  </a>
                  <a class="link"
                     href="{% url 'product_detail' product.id %}"><i class="icon-link"></i></a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
      <div class="more-btn">
        <a href="{% url 'product_list' %}" class="btn btn-common wow fadeInUp"
           data-wow-delay="0.3s">Дізнатися більше</a>
      </div>
    </section>
    {% endif %}
    <!-- Product Section End -->
    <!-- Team Area Section Start -->
    {% if masters %}
    <section id="team" class="section gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Наші майстри</h2>
            <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Тут ви можете
              дізнатися про майстрів та їхні вироби.</p>
          </div>
          {% for master in masters %}
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="single-member wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-desc">
                <a  href="{% url 'master_detail' master.id %}">
                  <h3>{{ master.get_full_name }}</h3>
                </a>
                <p>{{ master.short_description }}</p>
              </div>
              <div class="team-img">
                <img src="{{ master.image_masters.url }}" alt="">
                <div class="social-icon">
                  {% if master.facebook %}
                  <a class="social" href="{{ master.facebook }}"
                     target="_blank"><i class="fa fa-facebook"></i></a>
                  {% endif %}
                  {% if master.instagram %}
                  <a class="social" href="{{ master.instagram }}"
                     target="_blank"><i class="fa fa-instagram"></i></a>
                  {% endif %}
                  {% if master.site %}
                  <a class="social" href="{{ master.site }}"
                     target="_blank"><i class="fa fa-dribbble"></i></a>
                  {% endif %}
                  <a class="social" href="{% url 'master_detail' master.id %}" target="_blank"><i
                          class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        </div>
      </div>
      <div class="more-btn">
        <a href="{% url 'master_list' %}"
           class="btn btn-common wow fadeInUp"
           data-wow-delay="0.3s">Дізнатися більше</a>
      </div>
    </section>
    {% endif %}
    <!-- Schedule Section Start -->
    {% if schedule and event %}
    <section id="schedule" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Подія</h2>
              <h3>{{ event.title }}<br/></h3>
              <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">
                {{ event.place }}<br>{{ event.time }}
              </p>
              <h3>Програма</h3>
              <!-- Schedule Main board Start-->
              <div class="main-board wow fadeInDown pages" data-wow-delay="0.3s">
                <!-- Nav tabs -->

                <!-- Tab content Start -->
                <div class="tab-content items">
                  <!-- Day 1 Start -->
                  {% for act in schedule.page_obj %}
                  {% if forloop.counter == 1 %}
                    <div role="tabpanel"
                         class="tab-pane active"
                         id="day{{ forloop.counter0|add:schedule.page_obj.start_index }}">
                    {% else %}
                    <div role="tabpanel"
                         class="tab-pane"
                         id="day{{ forloop.counter0|add:schedule.page_obj.start_index }}">
                    {% endif %}
                    <div class="row">
                      <div class="col-md-12 board text-center">
                        <div class="column-1 col-md-3 col-sm-5">
                          <ul class="nav nav-pills event-time-list">
                            <li><h3>Час</h3>
                              {% if schedule.page_obj.has_previous %}
                              <a
                                 class="previous"
                                 href="?page={{ schedule.page_obj.previous_page_number }}">
                                <div class="icon">
                                  <i class="icon-arrow-up" style="font-size: 81px;"></i>
                                </div>
                              </a>
                              {% endif %}
                              <ul class="schedule" id="time" data-page="{{ schedule.page_obj.number }}"
                                data-pages="{{schedule.num_pages}}">
                                {% for t in schedule.page_obj %}
                                <li class="color-{{ forloop.counter }}">
                                  <a
                                     href="day{{ forloop.counter0|add:schedule.page_obj.start_index }}">
                                    {{ t.time }}<br>{{ t.short_description }}
                                  </a></li>
                                {% endfor %}
                              </ul>
                              {% if schedule.page_obj.has_next %}
                              <a
                                class="next"
                                href="?page={{ schedule.page_obj.next_page_number }}">
                                <div class="icon">
                                  <i class="icon-arrow-down" style="font-size: 81px;"></i>
                                </div>
                              </a>
                              {% endif %}
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-8 col-sm-6">
                          <div class="member" >
                          <div class="button">
                            <a href="#" class="btn-large bg-{{ forloop.counter }}">
                              <img src="{% static 'assets/img/microphone.png' %}">
                              {{act.short_description }}
                            </a>
                          </div>
                            <h4>{{ act.description }}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- Day 1 End -->
                  {% endfor %}
                </div>
                <!-- Tab content Start -->
              </div>
              <!-- Schedule Main board End-->
          </div>
        </div>
      </div>
      </div>
    </section>
    {% endif %}
    <!-- Schedule Section End -->

    <!-- Gallery Section Start -->
    {% if gallery_list %}
    <section id="gallery" class="section">
      <div class="container">        
        <div class="col-md-12">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Галерея</h2>
          <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Ярмарок - захоплює!
            Ярмарок - надихає! Ярмарок - це те місце, куди хочеться знову повернутися!</p>
        </div>  
        <div class="gallery-wrap wow fadeInDown">
            {% for img in gallery_list %}
            <div class="gallery-item col-md-4 col-sm-4 col-xs-12">
              <a href="{{ img.image_big.url }}"><img src="{{ img.image_avatar.url }}"></a>
              <div class="overlay">
                <div class="icons">
                  <a class="preview lightbox"
                     href="{{ img.image_big.url }}" data-lightbox-gallery="fest"><i class="icon-eye"></i></a>
                  <a class="link" href="{% url 'gallery_list' %}"><i class="icon-link"></i></a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
      <div class="more-btn">
        <a href="{% url 'gallery_list' %}" class="btn btn-common wow fadeInUp"
           data-wow-delay="0.3s">Дізнатися більше</a>
      </div>
    </section>
    {% endif %}
    <!-- Gallery Section End -->



    <!-- Blog Section Start -->
    {% if articles %}
    <section id="blog" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Статті</h2>
            <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s"></p>
          </div>
          {% for article in articles %}
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="blog-image">
                <a href="{% url 'article_detail' article.id %}">
                  <img src="{{ article.image_avatar.url }}" alt="">
                </a>
              </div>
              <div class="blog-info ">
                <h3><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h3>
                <div class="meta">
                  <span  class="meta-part">
                    <a href="#"><i class="icon-calendar"></i>{{ article.created }}
                    </a>
                  </span>
                </div>
                <p>{{ article.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="more-btn">
        <a href="{% url 'article_list' %}"
           class="btn btn-common wow fadeInUp"
           data-wow-delay="0.3s">Дізнатися більше</a>
      </div>
    </section>
    {% endif %}
    <!-- Blog Section End -->
    <!-- Sponsors Section Start -->
    {% if sponsors %}
    <section id="sponsors" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Наші партнери</h2>
            <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Дякуємо нашим
              спонсорам і меценатам за підтримку місцевих виробників. Долучайтеся до нашого
              проекту!</p>
          </div>
          {% for sponsor in sponsors %}
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="spnsors-logo wow fadeInUp" data-wow-delay="0.1s">
              <a {% if sponsor.site %}
                   href="{{ sponsor.site }}"
                 {% else %}
                   href="#"
                 {% endif %} >
                <img src="{{ sponsor.image_avatar.url }}" alt="">
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
    <!-- Sponsors Section End -->


    <!-- Map Section Start -->
    <section id="map">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Хочете стати учасником
              нашого ярмарку?</h2>
            <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Відправте нам листа,
              вкажіть майстром якої справи ви є, вкажіть контактні дані і члени нашої команди
              зв'яжуться з вами!
            </p>
          </div>
          <div class="col-md-12">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2632.886939081497!2d33.05654440857874!3d48.7076419120002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1596958384210!5m2!1suk!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <!--<div id="map_canvas"></div>-->
        </div>
      </div>
    </section>
    <!-- Map Section End -->  

    <!-- Main contetn Start -->
    <div class="main-content">  
    <!-- Start Contact Us Section -->
    <section id="contact">
      <div class="container">
        <div class="row wow fadeInDown" data-wow-delay="0.3s">
          <div class="col-md-8 col-sm-7 contact-form">   
            <form action="{% url 'contact_admin' %}"
                  method="post"
                  id="contactForm"
                  data-toggle="validator">
              {% csrf_token %}
              <div class="title-header">
                <h3 class="title-medium pull-left">Відправити нам повідомлення</h3>
                <div class="icon pull-right"><i class="icon-envelope"></i></div>
              </div>
              <div class="row">                    
                <div class="col-md-6">
                  <div class="label-line">
                    <span class="span"></span>
                    <label class="label transition">Ім'я</label>
                    <input type="text"
                           class="input"
                           id="name"
                           name="name"
                           required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="label-line">
                    <span class="span"></span>
                    <label class="label transition">Email</label>
                    <input type="email"
                           class="input"
                           id="email"
                           name="email"
                           required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="label-line textarea">
                    <span class="span"></span>
                    <label class="label transition">Повідомлення</label>
                    <textarea id="message"
                              name="message"
                              class="input"
                              required data-error="Write your message">
                    </textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="" class="btn btn-common">Відправити <i
                          class="icon-paper-plane" aria-hidden="true"></i></button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div> 
            </form> 
          </div>  
          <div class="col-md-4 col-sm-5 information">  
              <div class="title-header">
                <h3 class="title-medium">Контактна інформація</h3>
              </div>              
              <div class="contact-datails">
                <div class="icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="info">
                  <span class="detail">Приютівська ОТГ<br> Україна</span>
                </div>
              </div>                
              <div class="contact-datails">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="info">
                  <span class="detail">+123456789000</span>
                </div>
              </div>
              <div class="contact-datails">
                <div class="icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="info">
                  <span class="detail">kraftfest@ukr.net</span>
                </div>
              </div>
              <div class="social text-center">
                <a class="social"
                   href="https://www.facebook.com/%D0%AF%D1%80%D0%BC%D0%B0%D1%80%D0%BE%D0%BA-%D0%BA%D1%80%D0%B0%D1%84%D1%82%D0%BE%D0%B2%D0%B8%D1%85-%D0%B2%D0%B8%D1%80%D0%BE%D0%B1%D1%96%D0%B2-108264241001540"
                   target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Us Section  -->

    <!-- Footer Section Start -->
    <footer class="section">
      <div class="container" style="min-height:350px;">

      </div>
    </footer>
    <!-- Footer Section End -->
   
    </div>
    <!-- Main contetn End -->

{% endblock content %}

