{% extends 'base.html' %}
{% load static %}
{% load event_extras %}
{% block content %}

    <!-- Page Header Start -->
    <div class="page-header">      
      <div class="container"> 
        <div class="page-header-inner">         
          <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
            <li><a href="{% url 'index' %}">Головна</a></li>
            <li class="page"><a href="{% url 'master_list' %}">Майстри</a></li>
          </ol>
          <a href="{% url 'master_list' %}"><h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
              Майстри
            </h1>
          </a>
        </div>
      </div>
    </div>
    <!-- Page Header End-->

    <!-- Team Area Section Start -->
    <section id="team" class="section gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <form class="input-name">
              <input type="text" name="name" placeholder="прізвище чи ім'я">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="col-md-12">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Наші майстри</h2>
          </div>
          {% if not request.GET.name %}
          {% for category in categories %}
          <div class="col-md-12 col-sm-12 col-xs-12 category">
            <h2>{{ category.name }}</h2>
          </div>
          {% for master in masters|in_category:category %}
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="single-member wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-desc">
                <a  href="{% url 'master_detail' master.id %}">
                  <h3>{{ master.get_full_name }}</h3>
                </a>
                <a  href="{% url 'master_detail' master.id %}">
                  <p>{{ master.short_description }}</p>
                </a>
              </div> 
              <div class="team-img">
                <img src="{{ master.image_masters.url }}" alt="">
                <div class="social-icon">
                  {% if master.facebook %}
                  <a class="social" href="{{ master.facebook }}"
                     target="_blank"><i class="fa fa-facebook"></i></a>
                  {% endif %}
                  {% if master.instagram %}
                  <a class="social" href="{{ master.instagram }}"
                     target="_blank"><i class="fa fa-instagram"></i></a>
                  {% endif %}
                  {% if master.site %}
                  <a class="social" href="{{ master.site }}"
                     target="_blank"><i class="fa fa-dribbble"></i></a>
                  {% endif %}
                  <a class="social" href="{% url 'master_detail' master.id %}" target="_blank"><i
                          class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endfor %}
          {% endif %}
          {% if request.GET.name %}
            {% for master in masters %}
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-member wow fadeInRight" data-wow-delay="0.2s">
                  <div class="team-desc">
                    <a  href="{% url 'master_detail' master.id %}">
                      <h3>{{ master.get_full_name }}</h3>
                    </a>
                    <a  href="{% url 'master_detail' master.id %}">
                      <p>{{ master.short_description }}</p>
                    </a>
                  </div>
                  <div class="team-img">
                    <img src="{{ master.image_masters.url }}" alt="">
                    <div class="social-icon">
                      {% if master.facebook %}
                      <a class="social" href="{{ master.facebook }}"
                         target="_blank"><i class="fa fa-facebook"></i></a>
                      {% endif %}
                      {% if master.instagram %}
                      <a class="social" href="{{ master.instagram }}"
                         target="_blank"><i class="fa fa-instagram"></i></a>
                      {% endif %}
                      {% if master.site %}
                      <a class="social" href="{{ master.site }}"
                         target="_blank"><i class="fa fa-dribbble"></i></a>
                      {% endif %}
                      <a class="social" href="{% url 'master_detail' master.id %}" target="_blank"><i
                              class="fa fa-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>

{% endblock content %}
