{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="page-header-inner">
          <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
            <li><a href="{% url 'index' %}">Головна</a></li>
              <li class="page"><a href="{% url 'master_list' %}">Майстри</a></li>
          </ol>
          <a href="{% url 'master_list' %}"><h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
              Майстри
            </h1>
          </a>
        </div>
      </div>
    </div>
    <!-- Page Header End-->

    <!-- Team Area Section Start -->
    <section id="team" class="section gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title">Наші майстри</h2>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 category">
            <h2>{{ master.get_full_name }}</h2>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="single-member">

              <div class="team-img col-md-6 col-sm-6 col-xs-6">
                  <img src="{{ master.image_avatar.url }}">
                  <div class="social-icon">
                  {% if master.facebook %}
                  <a class="social" href="{{ master.facebook }}"
                     target="_blank"><i class="fa fa-facebook"></i></a>
                  {% endif %}
                  {% if master.instagram %}
                  <a class="social" href="{{ master.instagram }}"
                     target="_blank"><i class="fa fa-instagram"></i></a>
                  {% endif %}
                  {% if master.site %}
                  <a class="social" href="{{ master.site }}"
                     target="_blank"><i class="fa fa-dribbble"></i></a>
                  {% endif %}
                </div>
              </div>
              <div class="description col-md-6 col-sm-6 col-xs-12">
                <p>
                    {{ master.description }}
                </p>
              </div>
            </div>
          </div>
          {% if photos %}
          <div class="col-md-12 col-sm-12 col-xs-12 category">
            <h2>Вироби майстра</h2>
          </div>
          <!-- Gallery Section Start -->
          <section id="gallery" class="section">
            <div class="container pages">
              <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Галерея</h2>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">{{ gallery.title }}</p>
              </div>
              <div class="gallery-wrap wow fadeInD items">
                  {% for img in photos %}
                  <div class="gallery-item col-md-4 col-sm-4 col-xs-12">
                    <a href="{{ img.image_big.url }}"><img src="{{ img.image_avatar.url }}"></a>
                    <div class="overlay">
                      <div class="icons">
                        <a class="preview lightbox"
                           href="{{ img.image_big.url }}"
                           data-lightbox-gallery="product">
                            <i class="icon-eye"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
              </div>
            </div>
              {% if photos.has_next %}
                <div class="more-btn">
                  <a href="?page={{ gallery_detail.next_page_number }}"
                     class="btn btn-common wow fadeInUp load-more"
                     data-pages="{{ paginator.num_pages}}"
                     data-page="{{ page_obj.number }}"
                     data-wow-delay="0.3s"
                     id="load-more" >
                      Завантажити ще
                  </a>
                </div>
                {% endif %}
            {% endif %}
          </section>
          <!-- Gallery Section End -->
          <!-- Share social -->
            <div class="share">
              <div class="social-link" id="social">
                <span>Поширити через </span>
                <a class="facebook"
                   target="_blank"
                   data-original-title="facebook"
                   href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"
                   data-toggle="tooltip"
                   data-placement="top">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
            </div>
        </div>
      </div>
    </section>

{% endblock content %}
