{% extends 'base.html' %}
{% load static %}
{% load event_extras %}
{% block content %}

    <!-- Side bar menu -->
    <div class="product">
        <div class="product-sidebar">
            <ul>
                <li><a href="{% url 'product_list' %}">
                    Всі категорії
                </a></li>
                {% for category in categories %}
                <li>
                    <a href="{% url 'product_by_category' category.id %}" class="load-page">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <form class="input-name" id="search_form">
              <input type="text" name="name" placeholder="прізвище майстра" class="typeahead">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <section>
          <div class="product-list" id="product_list">
            {% include 'includes/partial_product_list.html' %}
          </div>
        </section>
    </div>
{% block extra_js %}
    <script type="text/javascript" src="{% static 'assets/js/search_typeahead.js' %}"></script>
{% endblock extra_js %}
{% endblock content %}