{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="page-header">      
      <div class="container"> 
        <div class="page-header-inner">         
          <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
            <li><a href="{% url 'index' %}">Головна</a></li>
            <li class="page">Стаття</li>
          </ol>
          <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
            Стаття
          </h1>
        </div>
      </div>
    </div>
    <!-- Page Header End-->

      <!-- Start Content -->
      <section id="content" class="section">
        <div class="container">
          <div class="row posts">
            <div class="col-md-9">
              <!-- Start Single Post Area -->
              <div class="blog">
                <!-- Post feature-inner -->
                <div class="feature-inner">
                  <a class="preview lightbox" href="{{ article.image_grid.url }}">
                    <img src="{{ article.image_grid.url }}">
                  </a>
                </div>
                <!-- End Post feature-inner -->
                <!-- Post Content -->
                <div class="post-content">
                  <h2 class="post-title">{{ article.title }}</h2>
                  <div class="meta">
                    <span class="meta-part"><a href="#"><i class="icon-user"></i> Admin</a></span>
                    <span class="meta-part">
                      <a href="#"><i class="icon-calendar"></i>
                        {{ article.created }}
                      </a></span>
                  </div> 
                  <p>{{ article.content|safe }}</p>
                    <!-- Share social -->
                    <div class="share">
                      <div class="social-link" id="social">
                        <span>Поширити через </span>
                        <a class="facebook"
                           target="_blank"
                           data-original-title="facebook"
                           href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"
                           data-toggle="tooltip"
                           data-placement="top">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </div>
                    </div> 
                </div>
                <!-- Post Content -->                                 
              </div>
              <!-- End Single Post Area -->
            </div>
          </div>
        </div>
      </section>
      <!-- End content -->
{% endblock content %}
